In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 500)

In [2]:
m = pd.read_csv("C:\\Users\\ASUS\\Desktop\\covid_pure\\training\\measurement.csv")
v = pd.read_csv("C:\\Users\\ASUS\\Desktop\\covid_pure\\training\\visit_occurrence.csv")
gs = pd.read_csv("C:\\Users\\ASUS\\Desktop\\covid_pure\\training\\goldstandard.csv")
data_dict = pd.read_csv("data_dictionary.csv")
m.shape, v.shape

((197498, 20), (42515, 17))

In [3]:
m.head()

,person_id,measurement_id,measurement_concept_id,measurement_date,measurement_datetime,measurement_time,measurement_type_concept_id,operator_concept_id,value_as_number,value_as_concept_id,unit_concept_id,range_low,range_high,provider_id,visit_occurrence_id,visit_detail_id,measurement_source_value,measurement_source_concept_id,unit_source_value,value_source_value
0,516,1,3000905,2015-11-14,2015-11-14 14:41:00,2018-07-14,44818702,4172703.0,4.90,NaN,8848.0,4.30,10.00,NaN,NaN,NaN,NaN,3000905,10*3/uL,4.90
1,1193,2,3028288,2013-01-24,2013-01-24 14:41:00,2015-12-28,44818702,4172703.0,57.00,NaN,NaN,NaN,130.00,NaN,NaN,NaN,NaN,3028288,NaN,57.00
2,949,3,3027114,2017-09-06,2017-09-06 14:41:00,2017-06-20,44818702,4172703.0,216.00,NaN,8840.0,NaN,200.00,NaN,NaN,NaN,NaN,3027114,mg/dL,216.00
3,1059,4,3012030,2018-12-23,2018-12-23 14:41:00,2019-02-26,44818702,4172703.0,32.50,NaN,NaN,27.30,33.60,NaN,NaN,NaN,NaN,3012030,pg,32.50
4,348,5,3016723,2012-10-26,2012-10-26 14:41:00,2019-03-01,44818702,4172703.0,0.93,NaN,8840.0,0.51,1.18,NaN,NaN,NaN,NaN,3016723,mg/dL,0.93

In [4]:
v.head()

,person_id,visit_occurrence_id,visit_concept_id,visit_start_date,visit_start_datetime,visit_end_date,visit_end_datetime,visit_type_concept_id,provider_id,care_site_id,visit_source_value,visit_source_concept_id,admitting_source_concept_id,admitting_source_value,discharge_to_concept_id,discharge_to_source_value,preceding_visit_occurrence_id
0,42,NaN,9201,2011-06-18,2011-06-18,2011-06-27,2011-06-27,44818518,NaN,NaN,NaN,9201,32209,NaN,32209,NaN,NaN
1,554,NaN,581479,2012-08-31,2012-08-31,2012-08-31,2012-08-31,44818518,NaN,NaN,NaN,581479,32209,NaN,32209,NaN,NaN
2,889,NaN,9203,2016-01-10,2016-01-10,2016-01-12,2016-01-12,44818518,NaN,NaN,NaN,9203,32209,NaN,32209,NaN,NaN
3,970,NaN,9201,2010-05-18,2010-05-18,2010-05-23,2010-05-23,44818518,NaN,NaN,NaN,9201,32209,NaN,32209,NaN,NaN
4,568,NaN,32037,2019-06-21,2019-06-21,2019-06-30,2019-06-30,44818518,NaN,NaN,NaN,32037,32209,NaN,32209,NaN,NaN

In [5]:
m_s = ["person_id", "measurement_concept_id", "measurement_date",
       "measurement_time", "value_as_number", "range_low", "range_high", "value_source_value"]

v_s = ["person_id", "visit_concept_id","visit_start_date", "visit_end_date"]
m = m[m_s]
v = v[v_s]


m['measurement_time'] = pd.to_datetime(m['measurement_time'])
m["measurement_date"] = pd.to_datetime(m["measurement_date"])

v["visit_start_date"] = pd.to_datetime(v["visit_start_date"])
v["visit_end_date"] = pd.to_datetime(v["visit_end_date"])
 
v.head()

   person_id  visit_concept_id visit_start_date visit_end_date
0         42              9201       2011-06-18     2011-06-27
1        554            581479       2012-08-31     2012-08-31
2        889              9203       2016-01-10     2016-01-12
3        970              9201       2010-05-18     2010-05-23
4        568             32037       2019-06-21     2019-06-30

In [6]:
m.head()

,person_id,measurement_concept_id,measurement_date,measurement_time,value_as_number,range_low,range_high,value_source_value
0,516,3000905,2015-11-14,2018-07-14,4.90,4.30,10.00,4.90
1,1193,3028288,2013-01-24,2015-12-28,57.00,NaN,130.00,57.00
2,949,3027114,2017-09-06,2017-06-20,216.00,NaN,200.00,216.00
3,1059,3012030,2018-12-23,2019-02-26,32.50,27.30,33.60,32.50
4,348,3016723,2012-10-26,2019-03-01,0.93,0.51,1.18,0.93

In [13]:
m[m['measurement_concept_id'] == 706163]

Empty DataFrame
Columns: [person_id, measurement_concept_id, measurement_date, measurement_time, value_as_number, range_low, range_high, value_source_value]
Index: []

In [7]:
measurements = m.measurement_concept_id.unique()
d_1 = {}
for measurement in measurements:
    try:
        measurement_name = data_dict[data_dict['concept_id'] == measurement]['concept_name'].values[0]
        d_1[measurement] = measurement_name
    except:
        continue
m['measurement_concept_id'] = m['measurement_concept_id'].map(d_1)

In [8]:
measurements = v.visit_concept_id.unique()
d_2 = {}
for measurement in measurements:
    try:
        measurement_name = data_dict[data_dict['concept_id'] == measurement]['concept_name'].values[0]
        d_2[measurement] = measurement_name
    except:
        continue
v['visit_concept_id'] = v['visit_concept_id'].map(d_2)

In [9]:
def find_num(s):
    res = ""
    for i in str(s):
        if i != 'd' and i!=' ':
            res+=i
        else:
            return int(res)

In [10]:
valid = ["Inpatient", "Emergency Room Visit", "Intensive Care"]
a = v[v['person_id'] == 1203].sort_values("visit_start_date", ascending=False)
a = a[a["visit_concept_id"].isin(valid)]
a["year"] = pd.DatetimeIndex(a['visit_start_date']).year
a["month"] = pd.DatetimeIndex(a['visit_start_date']).month
years = a["year"].values
months = a["month"].values
dates = a["visit_start_date"].values
a

,person_id,visit_concept_id,visit_start_date,visit_end_date,year,month
17461,1203,Intensive Care,2020-03-04,2020-03-04,2020,3
40359,1203,Emergency Room Visit,2020-02-03,2020-02-04,2020,2
37543,1203,Emergency Room Visit,2016-09-11,2016-09-18,2016,9
20650,1203,Emergency Room Visit,2016-08-30,2016-09-05,2016,8
38961,1203,Emergency Room Visit,2016-06-22,2016-07-01,2016,6
19281,1203,Intensive Care,2013-06-01,2013-06-06,2013,6
41961,1203,Emergency Room Visit,2013-02-05,2013-02-06,2013,2
41936,1203,Intensive Care,2012-12-30,2013-01-08,2012,12
1276,1203,Emergency Room Visit,2010-08-17,2010-08-22,2010,8

In [174]:
b = m[m['person_id'] == 1203].sort_values("measurement_time", ascending=False)
b["year"] = pd.DatetimeIndex(b['measurement_date']).year
b["month"] = pd.DatetimeIndex(b['measurement_date']).month
b = b[b["year"].isin(years)].reset_index(drop=True)
b["is_normal"] = (b["value_as_number"] >= b["range_low"]) & (b["value_as_number"] <= b["range_high"])
n_data = pd.DataFrame()
for idx in b.index:
    for date in dates:
        cur = b.loc[idx, "measurement_date"]
        diff = date - cur
        diff_day = find_num(diff)
        
        if diff_day <= 21 and diff_day >= 0:
            n_data = n_data.append(b.loc[idx], ignore_index=True)
            break

n_data[n_data["is_normal"] == 0].sort_values("measurement_date", ascending=False)

,is_normal,measurement_concept_id,measurement_date,measurement_time,month,person_id,range_high,range_low,value_as_number,value_source_value,year
4,0.0,Glucose [Mass/volume] in Serum or Plasma,2020-03-01,2019-01-24,3.0,1203.0,125.0,62.0,141.0,141.0,2020.0
7,0.0,Mycophenolate [Mass/volume] in Serum or Plasma,2020-02-25,2018-05-09,2.0,1203.0,3.5,1.0,0.7,0.7,2020.0
8,0.0,Reticulocytes [#/volume] in Blood by Automated...,2016-08-14,2016-11-28,8.0,1203.0,65.0,20.0,163.0,163.0,2016.0
5,0.0,Oxygen saturation in Mixed venous blood,2016-06-17,2019-01-02,6.0,1203.0,NaN,NaN,63.0,63.0,2016.0
3,0.0,MCV [Entitic volume] by Automated count,2013-05-15,2019-02-08,5.0,1203.0,98.0,81.0,101.0,101.0,2013.0
6,0.0,Ferritin [Mass/volume] in Serum or Plasma by I...,2013-05-15,2018-06-06,5.0,1203.0,230.0,20.0,1485.0,1485.0,2013.0
0,0.0,Lactate dehydrogenase [Enzymatic activity/volu...,2012-12-18,2020-05-26,12.0,1203.0,210.0,NaN,148.0,148.0,2012.0
10,0.0,Prothrombin time (PT),2010-08-12,2016-02-16,8.0,1203.0,15.6,10.7,15.8,15.8,2010.0

In [11]:
gs[gs["status"] == 1]
ones = gs[gs["status"] == 1].person_id.values
zeros = gs[gs["status"] == 0].person_id.values

In [12]:
ones_anormals = []
for i in ones:
    valid = ["Inpatient", "Emergency Room Visit", "Intensive Care"]
    a = v[v['person_id'] == i].sort_values("visit_start_date", ascending=False)
    a = a[a["visit_concept_id"].isin(valid)]
    dates = a["visit_start_date"].values
    
    b = m[m['person_id'] == i].sort_values("measurement_time", ascending=False)
    b["year"] = pd.DatetimeIndex(b['measurement_date']).year
    b["month"] = pd.DatetimeIndex(b['measurement_date']).month
    b = b[b["year"].isin(years)].reset_index(drop=True)
    b["is_normal"] = (b["value_as_number"] >= b["range_low"]) & (b["value_as_number"] <= b["range_high"])
    n_data = pd.DataFrame()
    for idx in b.index:
        for date in dates:
            cur = b.loc[idx, "measurement_date"]
            diff = date - cur
            diff_day = find_num(diff)

            if diff_day <= 21 and diff_day >= 0:
                n_data = n_data.append(b.loc[idx], ignore_index=True)
                break
    
    if n_data.shape[0] > 0:

        n_data[n_data["is_normal"] == 0].sort_values("measurement_date", ascending=False)
        for ms in n_data.measurement_concept_id.values:
            ones_anormals.append(ms)

In [181]:
len(ones_anormals)

397

In [182]:
from collections import Counter

In [183]:
Counter(ones_anormals)

Counter({'Erythrocytes [#/volume] in Blood by Automated count': 14,
         'Oxygen [Partial pressure] in Arterial blood': 3,
         'Hematocrit [Volume Fraction] of Blood': 1,
         'Leukocytes [#/volume] in Blood by Automated count': 28,
         'Thyrotropin [Units/volume] in Serum or Plasma by Detection limit <= 0.005 mIU/L': 19,
         'Neutrophils/100 leukocytes in Body fluid': 1,
         'Carcinoembryonic Ag [Mass/volume] in Serum or Plasma': 2,
         'Glomerular filtration rate/1.73 sq M.predicted among blacks [Volume Rate/Area] in Serum, Plasma or Blood by Creatinine-based formula (MDRD)': 3,
         'Potassium [Moles/volume] in Serum or Plasma': 2,
         'Oxygen saturation in Mixed venous blood': 2,
         'Glucose [Mass/volume] in Serum or Plasma': 6,
         'Haptoglobin [Mass/volume] in Serum or Plasma': 1,
         'Protein [Mass/volume] in Serum or Plasma': 3,
         'Anion gap in Serum or Plasma': 2,
         'MCHC [Mass/volume] by Automated count': 4,
         'Monocytes [#/volume] in Blood by Automated count': 6,
         'Aspartate aminotransferase [Enzymatic activity/volume] in Serum or Plasma': 2,
         'Lymphocytes/100 leukocytes in Blood by Automated count': 7,
         'Platelets [#/volume] in Blood by Automated count': 10,
         'Alkaline phosphatase [Enzymatic activity/volume] in Serum or Plasma': 22,
         'Natriuretic peptide B [Mass/volume] in Serum or Plasma': 2,
         'Cobalamin (Vitamin B12) [Mass/volume] in Serum or Plasma': 4,
         'Creatinine [Mass/volume] in Serum or Plasma': 7,
         'Prothrombin time (PT)': 6,
         'Nucleated erythrocytes [#/volume] in Blood by Automated count': 5,
         'Body weight': 13,
         'CD3+CD4+ (T4 helper) cells/CD3+CD8+ (T8 suppressor cells) cells [# Ratio] in Blood': 1,
         'Alanine aminotransferase [Enzymatic activity/volume] in Serum or Plasma': 6,
         'Specific gravity of Urine by Automated test strip': 1,
         'Glucose [Mass/volume] in Cerebral spinal fluid': 1,
         'Alpha-1-Fetoprotein multiple of the median cutoff [Multiple of the median] in Serum or Plasma': 1,
         'C reactive protein [Mass/volume] in Serum or Plasma by High sensitivity method': 6,
         'Parathyrin.intact [Mass/volume] in Serum or Plasma': 1,
         'Transferrin [Mass/volume] in Serum or Plasma': 5,
         'Hematocrit [Volume Fraction] of Blood by Automated count': 5,
         'Glucose [Mass/volume] in Capillary blood by Glucometer': 2,
         'Body height': 6,
         'Hemoglobin A1c/Hemoglobin.total in Blood by HPLC': 2,
         'Globulin [Mass/volume] in Serum by calculation': 1,
         'Glomerular filtration rate/1.73 sq M.predicted among non-blacks [Volume Rate/Area] in Serum, Plasma or Blood by Creatinine-based formula (MDRD)': 3,
         'Monocytes/100 leukocytes in Blood by Automated count': 1,
         'Triiodothyronine (T3) Free [Mass/volume] in Serum or Plasma': 1,
         'Neutrophils [#/volume] in Blood by Automated count': 18,
         'Lymphocytes [#/volume] in Blood by Automated count': 6,
         'Lymphocytes/100 leukocytes in Body fluid': 3,
         'MCH [Entitic mass] by Automated count': 5,
         'Urea nitrogen [Mass/volume] in Serum or Plasma': 3,
         'CD3+CD4+ (T4 helper) cells [#/volume] in Blood': 2,
         'Hemoglobin [Mass/volume] in Blood': 5,
         'Cholesterol [Mass/volume] in Serum or Plasma': 10,
         'Triglyceride [Mass/volume] in Serum or Plasma': 3,
         'Carbon dioxide, total [Moles/volume] in Serum or Plasma': 2,
         'Blasts [#/volume] in Blood': 2,
         'Kappa light chains [Mass/volume] in Serum or Plasma': 1,
         'Lactate dehydrogenase [Enzymatic activity/volume] in Serum or Plasma by Lactate to pyruvate reaction': 5,
         'Urate [Mass/volume] in Serum or Plasma': 1,
         'Cholesterol in VLDL [Mass/volume] in Serum or Plasma by calculation': 4,
         'Magnesium [Mass/volume] in Serum or Plasma': 1,
         'Nucleated erythrocytes/100 leukocytes [Ratio] in Blood by Automated count': 3,
         'Erythrocyte distribution width [Ratio] by Automated count': 3,
         'Vancomycin [Mass/volume] in Serum or Plasma --trough': 1,
         'Immature granulocytes [#/volume] in Blood by Automated count': 2,
         'Cortisol [Mass/volume] in Serum or Plasma': 2,
         'Thyroxine (T4) free [Mass/volume] in Serum or Plasma': 1,
         'Iron [Mass/volume] in Serum or Plasma': 3,
         'Calcium [Mass/volume] in Serum or Plasma': 3,
         'Prealbumin [Mass/volume] in Serum or Plasma by Immunoassay': 2,
         'Nucleated cells [#/volume] in Body fluid by Automated count': 1,
         'CD3+CD8+ (T8 suppressor cells) cells [#/volume] in Blood': 2,
         'Oxygen saturation in Arterial blood': 1,
         'Ferritin [Mass/volume] in Serum or Plasma by Immunoassay': 5,
         'Bilirubin.total [Mass/volume] in Serum or Plasma': 1,
         'Creatinine [Mass/volume] in Blood': 1,
         'Ammonia [Mass/volume] in Plasma': 3,
         'Cholecalciferol (Vit D3) [Mass/volume] in Serum or Plasma': 1,
         'Carbon dioxide [Partial pressure] in Venous blood': 1,
         'Lipase [Enzymatic activity/volume] in Serum or Plasma': 2,
         'Leukocytes [#/volume] in Body fluid': 1,
         'Heart rate': 4,
         'Mycophenolate [Mass/volume] in Serum or Plasma': 2,
         'Testosterone [Mass/volume] adjusted for sex hormone binding globulin in Serum or Plasma': 1,
         'Base deficit in Arterial blood': 1,
         'Iron binding capacity [Mass/volume] in Serum or Plasma': 4,
         'CD3 cells [#/volume] in Blood': 1,
         'Methotrexate [Moles/volume] in Serum or Plasma': 1,
         'Oxygen content in Mixed venous blood by calculation': 1,
         '25-Hydroxyvitamin D2+25-Hydroxyvitamin D3 [Mass/volume] in Serum or Plasma': 2,
         'Iron saturation [Mass Fraction] in Serum or Plasma': 1,
         'Cholesterol in HDL/Cholesterol.total [Mass Ratio] in Serum or Plasma': 3,
         'Neutrophils/100 leukocytes in Blood by Automated count': 3,
         'Kappa light chains/Lambda light chains [Mass Ratio] in Serum by Immunoassay': 2,
         'aPTT in Platelet poor plasma by Coagulation assay': 2,
         'Phosphate [Mass/volume] in Serum or Plasma': 1,
         'Cholesterol in HDL [Mass/volume] in Serum or Plasma': 1,
         'Basophils [#/volume] in Blood by Automated count': 1,
         'Tacrolimus [Mass/volume] in Blood by LC/MS/MS': 3,
         'Creatine kinase [Enzymatic activity/volume] in Serum or Plasma': 2,
         'Diastolic blood pressure': 1,
         'Carboxyhemoglobin/Hemoglobin.total in Arterial blood': 1,
         'Follitropin [Units/volume] in Serum or Plasma': 2,
         'Specific gravity of Urine': 1,
         'Prostate specific Ag [Mass/volume] in Serum or Plasma': 1,
         'Basophils/100 leukocytes in Bronchial specimen': 1,
         'Pregnancy associated plasma protein A [Multiple of the median] in Serum or Plasma': 1,
         'Lithium [Moles/volume] in Serum or Plasma': 1,
         'Eosinophils [#/volume] in Blood by Automated count': 1,
         'Urea nitrogen [Mass/volume] in Urine': 1,
         'Lactate [Moles/volume] in Arterial blood': 2,
         'INR in Capillary blood by Coagulation assay': 1,
         'Valproate [Mass/volume] in Serum or Plasma': 3,
         'Chloride [Moles/volume] in Serum or Plasma': 1,
         'cycloSPORINE [Mass/volume] in Blood by LC/MS/MS': 1,
         'Systolic blood pressure': 1,
         'Osmolality of Urine': 1,
         'Base excess in Arterial blood by calculation': 1,
         'Creatinine [Mass/volume] in Urine': 2,
         'Reticulocytes [#/volume] in Blood by Automated count': 2,
         'MCV [Entitic volume] by Automated count': 2,
         'Creatinine renal clearance in 24 hour Urine and Serum or Plasma': 1,
         'Bilirubin.direct [Mass/volume] in Serum or Plasma': 1,
         'Reticulocytes/100 erythrocytes in Blood by Automated count': 1,
         'Cholesterol in LDL [Mass/volume] in Serum or Plasma by calculation': 1,
         'Immature granulocytes/100 leukocytes in Blood by Automated count': 1})

In [184]:
zeros_anormals = []
for i in zeros:
    valid = ["Inpatient", "Emergency Room Visit", "Intensive Care"]
    a = v[v['person_id'] == i].sort_values("visit_start_date", ascending=False)
    a = a[a["visit_concept_id"].isin(valid)]
    dates = a["visit_start_date"].values
    
    b = m[m['person_id'] == i].sort_values("measurement_time", ascending=False)
    b["year"] = pd.DatetimeIndex(b['measurement_date']).year
    b["month"] = pd.DatetimeIndex(b['measurement_date']).month
    b = b[b["year"].isin(years)].reset_index(drop=True)
    b["is_normal"] = (b["value_as_number"] >= b["range_low"]) & (b["value_as_number"] <= b["range_high"])
    n_data = pd.DataFrame()
    for idx in b.index:
        for date in dates:
            cur = b.loc[idx, "measurement_date"]
            diff = date - cur
            diff_day = find_num(diff)

            if diff_day <= 21 and diff_day >= 0:
                n_data = n_data.append(b.loc[idx], ignore_index=True)
                break
    
    if n_data.shape[0] > 0:

        n_data[n_data["is_normal"] == 0].sort_values("measurement_date", ascending=False)
        for ms in n_data.measurement_concept_id.values:
            zeros_anormals.append(ms)

In [185]:
Counter(zeros_anormals)

Counter({'Ferritin [Mass/volume] in Serum or Plasma by Immunoassay': 39,
         'Lymphocytes [#/volume] in Blood by Automated count': 92,
         'Hemoglobin [Mass/volume] in Blood': 75,
         'Erythrocyte distribution width [Ratio] by Automated count': 51,
         'Reticulocytes/100 erythrocytes in Blood by Automated count': 20,
         'Oxygen content in Mixed venous blood by calculation': 16,
         'Cholesterol in VLDL [Mass/volume] in Serum or Plasma by calculation': 56,
         'Platelets [#/volume] in Blood by Automated count': 149,
         'Thyrotropin [Units/volume] in Serum or Plasma by Detection limit <= 0.005 mIU/L': 145,
         'Alkaline phosphatase [Enzymatic activity/volume] in Serum or Plasma': 264,
         'Lactate dehydrogenase [Enzymatic activity/volume] in Serum or Plasma by Lactate to pyruvate reaction': 57,
         '25-Hydroxyvitamin D2+25-Hydroxyvitamin D3 [Mass/volume] in Serum or Plasma': 40,
         'Body weight': 185,
         'Systolic blood pressure': 42,
         'Alanine aminotransferase [Enzymatic activity/volume] in Serum or Plasma': 64,
         'MCHC [Mass/volume] by Automated count': 33,
         'Leukocytes [#/volume] in Blood by Automated count': 272,
         'Cholesterol in LDL [Mass/volume] in Serum or Plasma by calculation': 58,
         'Erythrocytes [#/volume] in Blood by Automated count': 166,
         'MCH [Entitic mass] by Automated count': 51,
         'Heart rate': 37,
         'Calcidiol [Mass/volume] in Serum or Plasma': 27,
         'Potassium [Moles/volume] in Serum or Plasma': 15,
         'Natriuretic peptide B [Mass/volume] in Serum or Plasma': 61,
         'Protein [Mass/volume] in Serum or Plasma': 19,
         'Triglyceride [Mass/volume] in Serum or Plasma': 67,
         'Urea nitrogen [Mass/volume] in Serum or Plasma': 34,
         'Reticulocytes [#/volume] in Blood by Automated count': 32,
         'Hemoglobin A1c/Hemoglobin.total in Blood by HPLC': 26,
         'Prothrombin time (PT)': 81,
         'Lymphocytes/100 leukocytes in Blood by Automated count': 23,
         'Oxygen saturation in Mixed venous blood': 8,
         'Calcium [Mass/volume] in Serum or Plasma': 17,
         'Lipase [Enzymatic activity/volume] in Serum or Plasma': 15,
         'Potassium [Moles/volume] in Urine': 3,
         'Glomerular filtration rate/1.73 sq M.predicted among blacks [Volume Rate/Area] in Serum, Plasma or Blood by Creatinine-based formula (MDRD)': 32,
         'Bilirubin.direct [Mass/volume] in Serum or Plasma': 15,
         'Neutrophils [#/volume] in Blood by Automated count': 198,
         'Fractional oxyhemoglobin in Mixed venous blood': 8,
         'INR in Capillary blood by Coagulation assay': 7,
         'Glucose [Mass/volume] in Capillary blood by Glucometer': 59,
         'Glucose [Mass/volume] in Serum or Plasma': 100,
         'Blasts [#/volume] in Blood': 8,
         'Iron binding capacity [Mass/volume] in Serum or Plasma': 26,
         'Thyroxine (T4) free [Mass/volume] in Serum or Plasma': 9,
         'Monocytes [#/volume] in Blood by Automated count': 42,
         'Creatinine [Mass/volume] in Serum or Plasma': 156,
         'Leukocytes other [#/volume] in Blood': 3,
         'Cholesterol [Mass/volume] in Serum or Plasma': 57,
         'Prostate specific Ag [Mass/volume] in Serum or Plasma': 34,
         'Inhaled oxygen concentration': 6,
         'C reactive protein [Mass/volume] in Serum or Plasma by High sensitivity method': 36,
         'Cholesterol in HDL/Cholesterol.total [Mass Ratio] in Serum or Plasma': 11,
         'Body temperature': 13,
         'Chloride [Moles/volume] in Serum or Plasma': 15,
         'Glucose [Mass/volume] in Blood': 12,
         'Alpha 2 globulin [Mass/volume] in Serum or Plasma by Electrophoresis': 3,
         'Oxygen saturation in Arterial blood': 3,
         'Sodium [Moles/volume] in Serum or Plasma': 13,
         'Specific gravity of Urine by Automated test strip': 25,
         'IgG [Mass/volume] in Serum or Plasma': 5,
         'MCV [Entitic volume] by Automated count': 14,
         'Diastolic blood pressure': 31,
         'Transferrin [Mass/volume] in Serum or Plasma': 23,
         'Tacrolimus [Mass/volume] in Blood by LC/MS/MS': 20,
         'CD3+CD4+ (T4 helper) cells/CD3+CD8+ (T8 suppressor cells) cells [# Ratio] in Blood': 9,
         'Nucleated erythrocytes [#/volume] in Blood by Automated count': 16,
         'Aspartate aminotransferase [Enzymatic activity/volume] in Serum or Plasma': 24,
         'Lambda light chains [Mass/volume] in Serum or Plasma': 6,
         'Neutrophils/100 leukocytes in Body fluid': 2,
         'aPTT in Platelet poor plasma by Coagulation assay': 19,
         'Volume of Bronchial specimen': 2,
         'Erythrocyte sedimentation rate by Westergren method': 27,
         'Fibrinogen [Mass/volume] in Platelet poor plasma by Coagulation assay': 11,
         'Bicarbonate [Moles/volume] in Arterial blood': 13,
         'Glomerular filtration rate/1.73 sq M.predicted among non-blacks [Volume Rate/Area] in Serum, Plasma or Blood by Creatinine-based formula (MDRD)': 32,
         'Cobalamin (Vitamin B12) [Mass/volume] in Serum or Plasma': 25,
         'Creatine kinase [Enzymatic activity/volume] in Serum or Plasma': 12,
         'Procalcitonin [Mass/volume] in Serum or Plasma': 2,
         'Voriconazole [Mass/volume] in Serum or Plasma': 2,
         'Creatinine [Mass/volume] in Blood': 3,
         'Oxygen [Partial pressure] in Arterial blood': 11,
         'Fibrin D-dimer FEU [Mass/volume] in Blood by Immunoassay': 11,
         'Kappa light chains/Lambda light chains [Mass Ratio] in Serum by Immunoassay': 10,
         'Gamma interferon background [Units/volume] in Blood by Immunoassay': 7,
         'Macrophages/100 leukocytes in Cerebral spinal fluid': 3,
         'Calcium.ionized [Moles/volume] in Serum or Plasma by Ion-selective membrane electrode (ISE)': 4,
         'Hemoglobin [Mass/volume] in Mixed venous blood': 17,
         'Streptococcus pneumoniae Danish serotype 6B IgG Ab [Mass/volume] in Serum': 3,
         'Parathyrin.intact [Mass/volume] in Serum or Plasma': 6,
         'Valproate [Mass/volume] in Serum or Plasma': 8,
         'SARS coronavirus 2 IgG Ab [Presence] in Serum or Plasma by Immunoassay': 2,
         'Immature granulocytes [#/volume] in Blood by Automated count': 17,
         'Iron saturation [Mass Fraction] in Serum or Plasma': 23,
         'Carbon dioxide, total [Moles/volume] in Serum or Plasma': 8,
         'IgM [Mass/volume] in Serum or Plasma': 3,
         'Phosphate [Mass/volume] in Serum or Plasma': 23,
         'Urate [Mass/volume] in Serum or Plasma': 11,
         'Hematocrit [Volume Fraction] of Blood by Automated count': 27,
         'Follitropin [Units/volume] in Serum or Plasma': 5,
         'Triiodothyronine (T3) Free [Mass/volume] in Serum or Plasma': 5,
         'Basophils [#/volume] in Blood by Automated count': 14,
         'Heparin unfractionated [Units/volume] in Platelet poor plasma': 9,
         'Estriol (E3).unconjugated [Multiple of the median] in Serum or Plasma': 3,
         'Globulin [Mass/volume] in Serum by calculation': 13,
         'Alpha-1-Fetoprotein multiple of the median cutoff [Multiple of the median] in Serum or Plasma': 2,
         'Creatinine renal clearance in 24 hour Urine and Serum or Plasma': 1,
         'Sodium [Moles/volume] in Blood': 7,
         'DNA double strand Ab [Units/volume] in Serum by Immunoassay': 2,
         'Specific gravity of Urine': 7,
         'Streptococcus pneumoniae Danish serotype 15B IgG Ab [Mass/volume] in Serum': 1,
         'Carbon dioxide [Partial pressure] in Arterial cord blood': 4,
         'IgE [Units/volume] in Serum or Plasma': 3,
         'Bilirubin.total [Mass/volume] in Serum or Plasma': 8,
         'Creatinine [Mass/volume] in Urine': 31,
         'Fractional oxyhemoglobin in Venous blood': 1,
         'Carcinoembryonic Ag [Mass/volume] in Serum or Plasma': 22,
         'Carbon dioxide, total [Moles/volume] in Blood': 1,
         'Galactomannan Ag [Units/volume] in Serum or Plasma by Immunoassay': 5,
         'Magnesium [Mass/volume] in Serum or Plasma': 12,
         'Testosterone [Mass/volume] adjusted for sex hormone binding globulin in Serum or Plasma': 15,
         'Eosinophils [#/volume] in Blood by Automated count': 32,
         'Body height': 42,
         'Hematocrit [Volume Fraction] of Blood': 5,
         'Hemoglobin [Mass/volume] in Arterial blood': 6,
         'Prothrombin time (PT) in Control Platelet poor plasma by Coagulation assay': 11,
         'Bicarbonate [Moles/volume] in Venous blood': 4,
         'Vancomycin [Mass/volume] in Serum or Plasma': 8,
         'Basophils/100 leukocytes in Body fluid': 1,
         'Troponin I.cardiac [Mass/volume] in Serum or Plasma': 3,
         'Nucleated erythrocytes/100 leukocytes [Ratio] in Blood by Automated count': 10,
         'Glucose [Mass/volume] in Serum or Plasma --1 hour post dose glucose': 3,
         'Lactate [Moles/volume] in Arterial blood': 3,
         'CD3+CD4+ (T4 helper) cells [#/volume] in Blood': 11,
         'Carbon dioxide [Partial pressure] in Arterial blood': 5,
         'Calcium.ionized [Moles/volume] in Blood by Ion-selective membrane electrode (ISE)': 6,
         'Potassium [Moles/volume] in Blood': 8,
         'Neutrophils/100 leukocytes in Blood by Automated count': 21,
         'pH of Venous blood': 6,
         'Monocytes+Macrophages/100 leukocytes in Body fluid': 4,
         'Other cells/100 leukocytes in Body fluid by Manual count': 2,
         'pH of Arterial blood': 5,
         'Beta hydroxybutyrate [Moles/volume] in Serum or Plasma': 3,
         'Choriogonadotropin [Multiple of the median] in Serum or Plasma': 3,
         'CD3+CD4+ (T4 helper) cells/100 cells in Blood': 9,
         'Ammonia [Mass/volume] in Plasma': 7,
         'Protein [Mass/volume] in Cerebral spinal fluid': 2,
         'Complement C3 [Mass/volume] in Serum or Plasma': 3,
         'Kappa light chains [Mass/volume] in Serum or Plasma': 11,
         'Cancer Ag 19-9 [Units/volume] in Serum or Plasma': 7,
         'Carboxyhemoglobin/Hemoglobin.total in Mixed venous blood': 4,
         'lamoTRIgine [Mass/volume] in Serum or Plasma': 2,
         'Hemoglobin [Mass/volume] in Venous blood': 1,
         'CD3+CD8+ (T8 suppressor cells) cells [#/volume] in Blood': 8,
         'Osmolality of Urine': 4,
         'Prostate Specific Ag Free [Mass/volume] in Serum or Plasma': 1,
         'Oxygen [Partial pressure] in Venous blood': 10,
         'Lymphocytes/100 leukocytes in Body fluid': 7,
         'Fractional excretion of urea [Ratio] in Urine and Serum or Plasma collected for unspecified duration': 1,
         'pH of Venous cord blood': 1,
         'Urea nitrogen [Mass/volume] in Blood': 3,
         'Digoxin [Mass/volume] in Serum or Plasma': 2,
         'Iron [Mass/volume] in Serum or Plasma': 19,
         'Leukocytes [#/volume] in Body fluid': 5,
         'Methotrexate [Moles/volume] in Serum or Plasma': 1,
         'Alpha-2-Macroglobulin [Mass/volume] in Serum or Plasma': 1,
         'Basophils/100 leukocytes in Blood by Automated count': 1,
         'Oxygen content in Arterial blood': 2,
         'Epithelial cells/100 cells in Body fluid': 2,
         'pH of Arterial cord blood': 2,
         'Protein [Mass/volume] in Urine': 9,
         'Necroinflammatory activity score': 2,
         'Cortisol [Mass/volume] in Serum or Plasma': 4,
         'Testosterone Free [Mass/volume] in Serum or Plasma': 6,
         'Sodium [Moles/volume] in Urine': 8,
         nan: 1,
         'Gamma glutamyl transferase [Enzymatic activity/volume] in Serum or Plasma': 6,
         'Lactate [Moles/volume] in Plasma venous': 1,
         'Free Hemoglobin [Mass/volume] in Plasma': 4,
         'Albumin/Globulin [Mass Ratio] in Serum or Plasma': 3,
         'Methemoglobin/Hemoglobin.total in Arterial blood': 2,
         'Lutropin [Units/volume] in Serum or Plasma': 2,
         'Cholesterol in HDL [Mass/volume] in Serum or Plasma': 14,
         'Carboxyhemoglobin/Hemoglobin.total in Arterial blood': 2,
         'Carbon dioxide [Partial pressure] in Venous cord blood': 1,
         'Protoporphyrin.zinc [Molar ratio] in Red Blood Cells': 4,
         'Phenytoin Free [Mass/volume] in Serum or Plasma': 1,
         'Albumin [Mass/volume] in Serum or Plasma': 14,
         'Methylmalonate [Moles/volume] in Serum or Plasma': 2,
         'Alpha 1 antitrypsin [Mass/volume] in Serum or Plasma by Nephelometry': 2,
         'Glucose [Mass/volume] in Cerebral spinal fluid': 2,
         'CD3 cells [#/volume] in Blood': 2,
         'Triiodothyronine (T3) [Mass/volume] in Serum or Plasma': 2,
         'Other cells/100 leukocytes in Blood by Automated count': 3,
         'Lactate [Moles/volume] in Venous blood': 5,
         'Eosinophils/100 leukocytes in Blood by Automated count': 6,
         'Base deficit in Arterial blood': 7,
         'cycloSPORINE [Mass/volume] in Blood by LC/MS/MS': 9,
         'Carboxyhemoglobin/Hemoglobin.total in Venous blood': 6,
         'Prolactin [Mass/volume] in Serum or Plasma': 5,
         'Base excess in Arterial blood by calculation': 4,
         'Interleukin 6 [Mass/volume] in Serum or Plasma': 4,
         'Oxygen [Partial pressure] in Arterial cord blood': 1,
         'Carbon dioxide, total [Moles/volume] in Blood by calculation': 1,
         'Albumin [Mass/volume] in Serum or Plasma by Electrophoresis': 7,
         'Vancomycin [Mass/volume] in Serum or Plasma --trough': 8,
         'Nucleated cells [#/volume] in Body fluid by Automated count': 4,
         'Sex hormone binding globulin [Moles/volume] in Serum or Plasma': 7,
         'Base deficit in Venous cord blood': 2,
         'Complement C4 [Mass/volume] in Serum or Plasma': 2,
         'Helicobacter pylori IgG Ab [Units/volume] in Serum by Immunoassay': 2,
         'Prealbumin [Mass/volume] in Serum or Plasma by Immunoassay': 3,
         'Cholecalciferol (Vit D3) [Mass/volume] in Serum or Plasma': 3,
         'C peptide [Mass/volume] in Serum or Plasma': 1,
         'Calcium [Mass/volume] in Urine collected for unspecified duration': 2,
         'Respiratory rate': 8,
         'Amylase [Enzymatic activity/volume] in Body fluid': 1,
         'CD3 cells/100 cells in Blood': 4,
         'Monocytes/100 leukocytes in Blood by Automated count': 5,
         'Zinc [Mass/volume] in Serum or Plasma': 1,
         'Gestational age': 2,
         'Clot angle in Blood by Thromboelastography': 1,
         'PHENobarbital [Mass/volume] in Serum or Plasma': 3,
         'Respiratory syncytial virus RNA [Presence] in Unspecified specimen by NAA with probe detection': 2,
         'Immature granulocytes/100 leukocytes in Blood by Automated count': 6,
         'Fractional excretion of sodium [Ratio] in Urine and Serum or Plasma': 1,
         '1,5-Anhydroglucitol [Mass/volume] in Serum or Plasma': 2,
         'Osmolality of Serum or Plasma': 2,
         'CD56 cells/100 cells in Blood': 2,
         'Sirolimus [Mass/volume] in Blood': 2,
         'Glucose [Mass/volume] in Serum or Plasma --2 hours post 75 g glucose PO': 1,
         'IgA [Mass/volume] in Serum or Plasma': 1,
         'Human coronavirus RNA [Presence] in Unspecified specimen by NAA with probe detection': 1,
         'Bicarbonate [Moles/volume] in Venous cord blood': 1,
         'Thiamine [Moles/volume] in Blood': 2,
         'CD3+CD8+ (T8 suppressor cells) cells/100 cells in Blood': 4,
         'Glucose [Mass/volume] in Serum or Plasma --1 hour post 75 g glucose PO': 1,
         'Insulin Ab [Moles/volume] in Serum': 1,
         'Eosinophils/100 leukocytes in Body fluid': 1,
         'Beta-2-Microglobulin [Mass/volume] in Serum or Plasma': 1,
         'Gestational age estimated from Crown rump length on US': 3,
         'Copper [Mass/volume] in Serum or Plasma': 1,
         'IgG subclass 4 [Mass/volume] in Serum': 1,
         'Ascorbate [Mass/volume] in Serum or Plasma': 1,
         'Influenza virus B RNA [Presence] in Unspecified specimen by NAA with probe detection': 1,
         'Carbon dioxide [Partial pressure] in Venous blood': 3,
         'Beta globulin [Mass/volume] in Serum or Plasma by Electrophoresis': 2,
         'Inhibin A [Multiple of the median] in Serum or Plasma': 1,
         'Oxygen saturation in Venous blood': 1,
         'Anion gap in Serum or Plasma': 2,
         'Aspartate [Moles/volume] in Serum or Plasma': 2,
         'Pregnancy associated plasma protein A [Multiple of the median] in Serum or Plasma': 3,
         'Mycophenolate [Mass/volume] in Serum or Plasma': 1,
         'Blasts/100 leukocytes in Blood': 1,
         'ABO and Rh group [Type] in Blood': 2,
         'Methemoglobin/Hemoglobin.total in Mixed venous blood': 2,
         'Fetal Nuchal fold Thickness US': 1,
         'Thrombin time': 1,
         'IgG subclass 3 [Mass/volume] in Serum': 1,
         'Mullerian inhibiting substance [Mass/volume] in Serum or Plasma': 1,
         'Proline [Moles/volume] in Serum or Plasma': 1,
         'Creatine kinase.MB [Mass/volume] in Serum or Plasma': 1,
         'Collagen crosslinked N-telopeptide/Creatinine [Molar ratio] in Urine by Immunoassay': 1,
         'Myoglobin [Mass/volume] in Serum or Plasma': 1,
         'Clotting time of Blood by Thromboelastography': 2,
         'Apolipoprotein B [Mass/volume] in Serum or Plasma': 1,
         'Creatinine [Mass/volume] in Body fluid': 2,
         'Fractional oxyhemoglobin in Arterial blood': 1,
         'Streptococcus pneumoniae Danish serotype 9V IgG Ab [Units/volume] in Serum': 1,
         'Thyroxine (T4) [Mass/volume] in Serum or Plasma': 1,
         'Cancer Ag 125 [Units/volume] in Serum or Plasma': 1})