In [1]:
import pandas as pd
import numpy as np

In [2]:
person = pd.read_csv("C:\\Users\\ASUS\\Desktop\\covid_pure\\training\\person.csv")
gs = pd.read_csv("C:\\Users\\ASUS\\Desktop\\covid_pure\\training\\goldstandard.csv")
person = person.merge(gs, on="person_id")

In [3]:
person.head()

,person_id,gender_concept_id,year_of_birth,month_of_birth,day_of_birth,birth_datetime,race_concept_id,ethnicity_concept_id,location_id,provider_id,care_site_id,person_source_value,gender_source_value,gender_source_concept_id,race_source_value,race_source_concept_id,ethnicity_source_value,ethnicity_source_concept_id,status
0,0,8532,1951,9,18,1951-09-18,8515,38003564,1811,NaN,NaN,NaN,F,0,NaN,10,NaN,29,0.0
1,1,8532,1934,8,15,1934-08-15,8552,38003563,7867,NaN,NaN,NaN,F,0,NaN,8,NaN,28,0.0
2,2,8507,1993,2,20,1993-02-20,8552,38003564,7807,NaN,NaN,NaN,M,0,NaN,26,NaN,19,0.0
3,3,8532,1974,8,7,1974-08-07,8527,38003564,3498,NaN,NaN,NaN,F,0,NaN,30,NaN,29,0.0
4,4,8532,1942,5,9,1942-05-09,8527,38003563,4350,NaN,NaN,NaN,F,0,NaN,30,NaN,28,0.0

In [4]:
from sklearn.preprocessing import LabelEncoder

columns = ["gender_concept_id", "race_concept_id", "ethnicity_concept_id"]

for c in columns:
    encoder = LabelEncoder()
    person[c] = encoder.fit_transform(person[c])
    
c_s = ["person_id", "gender_concept_id", "year_of_birth", "race_concept_id", "ethnicity_concept_id", "status"]
person = person[c_s]
person.head()

,person_id,gender_concept_id,year_of_birth,race_concept_id,ethnicity_concept_id,status
0,0,1,1951,0,1,0.0
1,1,1,1934,3,0,0.0
2,2,0,1993,3,1,0.0
3,3,1,1974,2,1,0.0
4,4,1,1942,2,0,0.0

In [5]:
person.shape

(1251, 6)

In [6]:
person.status.value_counts()

0.0    1144
1.0     107
Name: status, dtype: int64

In [7]:
person.groupby("gender_concept_id")['status'].agg(['mean'])

                       mean
gender_concept_id
0                  0.083721
1                  0.087459

In [9]:
zeros = person[person.status == 0]
person.drop(zeros.index, inplace=True)

In [11]:
person.shape, zeros.shape

((107, 6), (1144, 6))